<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @using System.Web.Optimization
    @Styles.Render("~/Content/css")
</head>
<body class="bg-secondary text-light">
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="navbar-brand">
                <img src="https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg" />
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("About", "Index", "Main", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contact", "Contact", "Main", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Projects", "Projects", "Main", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Temp Checker", "", "FeverCheck", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Number Guessing", "", "GuessingGame", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("People List", "Index", "People", null, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="fixed-bottom bg-dark text-light">@DateTime.Now Carl König</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
