@model IEnumerable<WebApplication2.Person>

@{
    ViewBag.Title = "People List V2";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string search = "";
    bool caseSensitive = false;
    if (IsPost)
    {
        if (Request["type"] == "search" && Request["search"] != null)
        {
            search = Request["search"];
            caseSensitive = Request["caseSensitive"].Contains("true");
        }
    }
}

<h2>People List V2</h2>

<div class="col-6 offset-3">
    @using (Html.BeginForm("Add", "People", null, FormMethod.Post, new { @class = "add-person-form" }))
    {
        <div class="form-group">
            @Html.Label("Name")
            @Html.TextBox("name", null, new { @class = "form-control", placeholder = "Name" })
        </div>
        <div class="form-group">
            @Html.Label("Phone")
            @Html.TextBox("phone", null, new { @class = "form-control", placeholder = "Phone" })
        </div>
        <div class="form-group">
            @Html.Label("City")
            @Html.TextBox("city", null, new { @class = "form-control", placeholder = "City" })
        </div>
        <input class="btn btn-submit" type="submit" value="Add Person" />
    }
</div>
<hr />

@using (Html.BeginForm("Index", "PeopleV2", new { type = "search" }, FormMethod.Post, new { @class = "search-form" }))
{
    @Html.TextBox("search", null, new { @class = "form-control", placeholder = "Search" });
    @Html.CheckBox("caseSensitive", caseSensitive, new { @class = "hidden" });
    <label for="caseSensitive">Aa</label>
    <input class="btn btn-submit" type="submit" value="Search" />
}

<div class="clearfix"></div>

@Html.Action("ShowPerson", new { person = new Person("Name", "Phone", "City", isTemplate: true) })

@foreach (var item in Person.FilterList((List<Person>)Model, search, caseSensitive))
{
    Html.RenderAction("ShowPerson", new { person = item });
}
